<div id="admin">
    <div class="edit-btn mb-3 align-content-center">
        <form action="http://localhost:51891/api/Statistics" method="get">
            <button type="submit" class="btn btn-primary">Перегляд статистики</button>
        </form>
        <button type="button" class="btn btn-primary" id="exit">Вихід</button>
    </div>

    <h3 class="film-title">Оберіть, що хочете відредагувати</h3>
    <div class="edit-btn row container">
        <button type="button" class="btn btn-primary" id="edit_genre">Жанри</button>
        <button type="button" class="btn btn-primary" id="edit_lang">Мови</button>
        <button type="button" class="btn btn-primary" id="edit_country">Країни</button>
        <button type="button" class="btn btn-primary" id="edit_hall">Зали</button>
        <button type="button" class="btn btn-primary" id="edit_format">Формати</button>
        <button type="button" class="btn btn-primary" id="edit_discount">Знижки</button>
        <button type="button" class="btn btn-primary" id="ad_film">Додати фільм</button>
    </div>

    <div id="admin-table">
        <h3 class="film-title">Редагувати фільми</h3>
        <br>
        <table id="edit_film">
            <tr>
                <th>Постер</th>
                <th>IMDb</th>
                <th>Назва</th>
                <th>Оригінальна назва</th>
                <th>Редагувати</th>
                <th>Видалити</th>
            </tr>

        </table>
    </div>
</div>