<form id="authorization" class="log_form">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary" id="success-btn">Вхід</button>
    <button type="button" class="btn btn-link" id="reg-btn">Реєстрація</button>
</form>