<form id="password-form" class="log_form">
    <div class="form-group">
        <label for="old-password">Старий пароль</label>
        <input type="password" class="form-control" id="old-password">
    </div>
    <div class="form-group">
        <label for="password1">Новий пароль</label>
        <input type="password" class="form-control" id="password1">
    </div>
    <div class="form-group">
        <label for="password2">Повторіть новий пароль</label>
        <input type="password" class="form-control" id="password2">
    </div>
    <button type="submit" class="btn btn-primary" id="change-password">Змінити</button>
</form>