<div class="row" id="film-editor">
    <form id="create-f" class="col-md-8 col-xs-12 col-sm-8">
        <h3 class="film-title">Інформація про фільм</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="fimb">IMDb *</label>
                <input type="text" class="form-control" id="fimb">
            </div>
            <div class="form-group col-md-9">
                <label for="fname">Назва *</label>
                <input type="text" class="form-control" id="fname">
            </div>
        </div>
        <div class="form-group">
            <label for="foriginal">Оригінальна назва</label>
            <input type="text" class="form-control" id="foriginal">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fimg">Шлях до картинки *</label>
                <input type="text" class="form-control" id="fimg">
            </div>
            <div class="form-group col-md-6">
                <label for="fvideo">Шлях до трейлеру</label>
                <input type="text" class="form-control" id="fvideo">
            </div>
        </div>
        <div class="form-group">
            <label for="fdescription">Опис</label>
            <textarea rows="10" cols="100" id="fdescription"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="fyear">Рік *</label>
                <input type="text" class="form-control" id="fyear" pattern="[0-9]{4}">
            </div>
            <div class="form-group col-md-4">
                <label for="fduration">Тривалість * (у хвилинах)</label>
                <input type="text" class="form-control" id="fduration" pattern="[0-9]">
            </div>
            <div class="form-group col-md-4">
                <label for="fage">Вікове обмеження *</label>
                <select id="fage" class="form-control">
                    <option value="0" selected>0+</option>
                    <option value="6">6+</option>
                    <option value="13">13+</option>
                    <option value="16">16+</option>
                    <option value="18">18+</option>
                    <option value="21">21+</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="fbegin">Початок прокату *</label>
                <input type="date" class="form-control" id="fbegin">
            </div>
            <div class="form-group col-md-4">
                <label for="fend">Кінець прокату *</label>
                <input type="date" class="form-control" id="fend">
            </div>
            <div class="form-group col-md-4 p-2">
                <br>
                <input type="checkbox" id="fpremier" name="premier">
                <label for="fpremier"> Прем'єра *</label><br>
            </div>
        </div>
        <div class="form-group">
            <label for="fprice"> Ціна *</label>
            <input type="number" id="fprice" name="price">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fgenres">Жанри *</label>
                <div id="fgenres">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="fcountries">Країни *</label>
                <div id="fcountries">
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="fnotes">Нотатки</label>
            <textarea rows="10" cols="100" id="fnotes"></textarea>
        </div>
        <button type="submit" class="btn btn-info" id="save-film">Зберегти</button>
    </form>


    <div id="sessions" class="col-md-3 col-xs-12 col-sm-3">
        <h2 class="film-title">Сеанси</h2>
        <div id="sessions-editor">
        </div>

        <button type="button" class="btn btn-primary btn-edit" id="delete-ses" disabled>Видалити обрані</button>

        <form id="create-s">
            <h3 class="film-title">Створити</h3>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="fformat">Формат *</label>
                    <select id="fformat" class="form-control">
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="flang">Мова *</label>
                    <select id="flang" class="form-control">
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="fhall">Зал *</label>
                    <select id="fhall" class="form-control">
                        <option value="" selected></option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label for="fday">День *</label>
                <input type="date" class="form-control" id="fday">
            </div>
            <div class="form-group">
                <label for="ftime">Час *</label>
                <input type="time" class="form-control" id="ftime">
            </div>

            <button type="button" class="btn btn-primary btn-edit" id="add-ses">Додати</button>
        </form>

    </div>
</div>