<div class="editor">
    <h3 class="film-title">Редагування форматів</h3>
    <br>
    <table id="edit_format">
        <tr>
            <th>Назва</th>
            <th>Надбавка</th>
            <th>Примітки</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
        <tr id="1">
            <td><input type="text" class="form-control f-name" required></td>
            <td><input type="number" class="form-control f-increase" required></td>
            <td><input type="text" class="form-control f-description"></td>
            <td>
                <button type="button" class="btn btn-info edit-f">Редагувати</button>
            </td>
            <td>
                <button type="button" class="btn btn-info del-f">Видалити</button>
            </td>
        </tr>

    </table>

    <h3 class="film-title">Додати новий</h3>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Fname">Назва</label>
                <input type="text" class="form-control" id="Fname" required>
            </div>
            <div class="form-group col-md-3">
                <label for="Fincrease">Надбака</label>
                <input type="number" class="form-control" id="Fincrease" required>
            </div>
            <div class="form-group col-md-5">
                <label for="Fdescription">Опис</label>
                <input type="text" class="form-control" id="Fdescription">
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="create-f">Створити</button>
    </form>
</div>