<div class="editor">
    <h3 class="film-title">Редагування зал</h3>
    <br>
    <table id="table_hall">
        <tr>
            <th>Номер</th>
            <th>Тип IMAX</th>
            <th>Кількість рядів</th>
            <th>Кількість сидінь у ряді</th>
            <th>Примітки</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
    </table>

    <h3 class="film-title">Додати новий</h3>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Hname">Номер</label>
                <input type="number" class="form-control" id="Hname">
            </div>
            <div class="form-group col-md-4">
                <label for="Hrows">Кількість рядів</label>
                <input type="number" class="form-control" id="Hrows">
            </div>
            <div class="form-group col-md-4">
                <label for="Hplaces">Кількість сидінь у ряді</label>
                <input type="number" class="form-control" id="Hplaces">
            </div>

        </div>
        <div class="form-row">
        <div class="form-group col-md-4">
            <label for="Himax">IMAX</label>
            <input type="checkbox" class="form-control" id="Himax">
        </div>
        <div class="form-group col-md-8">
            <label for="Hdescription">Опис</label>
            <input type="text" class="form-control" id="Hdescription">
        </div>
        </div>
        <button type="button" class="btn btn-primary" id="create-h">Створити</button>
    </form>
</div>