<!-- коментарі -->
<div id="film_block" class="row">
    <div id="filter-nav" class="col-md-2 col-xs-12 col-sm-2">
        <h3 class="film-title">Фільтри</h3>

        <form>
            <div class="form-group">
                <label for="filter-genres">Жанри</label>
                <div id="filter-genres">
                </div>
            </div>
            <div class="form-group">
                <label for="filter-year">Рік</label>
                <input type="text" id="filter-year" readonly>
                <div id="year-range">
                    <input type="text" name="yearFrom" placeholder="від" class="input-range">
                    <input type="text" name="yearTo" placeholder="до" class="input-group-text">
                </div>
            </div>
            <div class="form-group">
                <label for="filter-duration">Тривалість</label>
                <input type="text" id="filter-duration" readonly>
                <div id="duration-range">

                </div>
            </div>
            <div class="form-group">
                <label for="filter-limit">Вікові обмеження</label>
                <select id="filter-limit" class="form-control">
                    <option value="0" selected>0+</option>
                    <option value="6">6+</option>
                    <option value="13">13+</option>
                    <option value="16">16+</option>
                    <option value="18">18+</option>
                    <option value="21">21+</option>
                </select>
            </div>
            <div class="form-group">
                <label for="filter-country">Країна походження</label>
                <select id="filter-country" class="form-control">
                    <option value="" selected></option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-check-input" type="checkbox" name="" value=""> Прем'єра
            </div>
            <button type="button" class="btn btn-secondary">Застосувати</button>
        </form>
    </div>

    <div id="films" class="container col-md-10 col-xs-12 col-sm-10">
        <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
            <img src="../images/film1.jpg" alt class="img-fluid film-image">
            <span class="film-title">Захар Беркут</span>
        </div>
        <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
            <img src="../images/film2.jpeg" alt class="img-fluid film-image">
            <span class="film-title">Маленькі жінки</span>
        </div>
        <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
            <img src="../images/film3.jpg" alt class="img-fluid film-image">
            <span class="film-title">Джокер</span>
        </div>
        <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
            <img src="../images/film4.jpg" alt class="img-fluid film-image">
            <span class="film-title">Лего</span>
        </div>
        <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
            <img src="../images/film5.jpg" alt class="img-fluid film-image">
            <span class="film-title">Пірати карибського моря</span>
        </div>
        <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
            <img src="../images/film6.jpg" alt class="img-fluid film-image">
            <span class="film-title">Титанік</span>
        </div>
    </div>
</div>