<div class="row" id="film_main">
    <div class="col-md-3 col-xs-12 col-sm-2 poster-block">
        <img src="../images/film6.jpg" alt class="img-fluid film-image">
        <button type="button" class="btn btn-primary"
                onClick='location.href="https://www.youtube.com/watch?v=8u_T0ZEVD24"'> Дивитись трейлер
        </button>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h2 class="film-title">Титанік</h2>
        <div class="film-description">
            <span><b>IMDb: </b> 1234567</span>
            <span><b>Вікове обмеження: </b> 0 +</span>
            <span><b>Оригінальна назва: </b> Titanik</span>
            <span><b>Рік: </b> 1997</span>
            <span><b>Тривалість: </b> 3:15 </span>
            <span><b> Країна: </b> США</span>
            <p class="description">В 1996 году охотник за сокровищами Брок Лаветт и его команда на
                научно-исследовательском судне
                «Академик Мстислав Келдыш» на глубоководных батискафах «Мир-1» и «Мир-2» погружаются на дно
                Атлантического океана, где покоятся останки лайнера «Титаник», затонувшего 15 апреля 1912 года. Они
                обнаруживают сейф, в котором, по предположению Лаветта, должно находиться ожерелье с голубым
                бриллиантом, известное как «Сердце океана». В начале XX века один питтсбургский Ротшильд Натан Хокли
                приобрёл его для своего сына-промышленника Каледона, который подарил ожерелье в качестве свадебного
                подарка своей невесте — англичанке Розе Дьюитт Бьюкейтер, вместе с которой он плыл на «Титанике» в
                США, где они должны были пожениться. Каледон спасся во время катастрофы, Роза погибла, а ожерелье
                было утеряно и, предположительно, ушло на дно вместе с кораблём. Но, к разочарованию исследователей,
                в сейфе оказываются только размокшие бумаги, среди которых хорошо сохранившийся портрет,
                датированный 14 апреля 1912 года. На портрете, подписанном инициалами «J. D.», изображена обнажённая
                девушка с похожим ожерельем. Тем временем бывшая актриса Роза Келверт, женщина в возрасте неполного
                101 года, смотрит по телевизору репортаж телеканала CNN об этой экспедиции и видит портрет
                обнажённой женщины. Она звонит Броку Лаветту и сообщает ему, что знает о бриллианте «Сердце океана»
                и о том, что девушка на портрете — это она сама. Роза, сопровождаемая своей внучкой Лиззи, вылетает
                на вертолёте на «Академик Мстислав Келдыш». Хотя Лаветту говорят, что женщина вполне может оказаться
                авантюристкой, он соглашается её выслушать, надеясь, что она расскажет ему о том, куда делось
                «Сердце океана». Представ перед Лаветтом и его командой и подтвердив, что она действительно Роза
                Дьюитт Бьюкейтер, Роза начинает свою историю.</p>
        </div>
    </div>
    <div id="sessions" class="col-md-3 col-xs-12 col-sm-3">
        <h2 class="film-title">Сеанси</h2>
        <div class="session-day">
            <span>22 марта</span>
            <div class="session-time row container">
                <div class="session-info ">
                    <span>3D</span>
                    <br>
                    <button class="btn time-btn">11.30</button>
                </div>

                <div class="session-info ">
                    <span>3D</span>
                    <br>
                    <button class="btn time-btn">11.30</button>
                </div>

                <div class="session-info">
                    <span>3D</span>
                    <br>
                    <button class="btn time-btn">11.30</button>
                </div>

                <div class="session-info">
                    <span>3D</span>
                    <br>
                    <button class="btn time-btn">11.30</button>
                </div>

                <div class="session-info">
                    <span>3D</span>
                    <br>
                    <button class="btn time-btn">11.30</button>
                </div>

                <div class="session-info">
                    <span>3D</span>
                    <br>
                    <button class="btn time-btn">11.30</button>
                </div>
            </div>
            <div class="session-day">
                <span>22 марта</span>
                <div class="session-time row container">
                    <div class="session-info ">
                        <span>3D</span>
                        <br>
                        <button class="btn time-btn">11.30</button>
                    </div>

                    <div class="session-info ">
                        <span>3D</span>
                        <br>
                        <button class="btn time-btn">11.30</button>
                    </div>

                    <div class="session-info">
                        <span>3D</span>
                        <br>
                        <button class="btn time-btn">11.30</button>
                    </div>

                    <div class="session-info">
                        <span>3D</span>
                        <br>
                        <button class="btn time-btn">11.30</button>
                    </div>

                    <div class="session-info">
                        <span>3D</span>
                        <br>
                        <button class="btn time-btn">11.30</button>
                    </div>

                    <div class="session-info">
                        <span>3D</span>
                        <br>
                        <button class="btn time-btn">11.30</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>