<div id="films">
    <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
        <img src="../images/film1.jpg" alt class="img-fluid film-image">
        <span class="film-title">Захар Беркут</span>
    </div>
    <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
        <img src="../images/film2.jpeg" alt class="img-fluid film-image">
        <span class="film-title">Маленькі жінки</span>
    </div>
    <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
        <img src="../images/film3.jpg" alt class="img-fluid film-image">
        <span class="film-title">Джокер</span>
    </div>
    <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
        <img src="../images/film4.jpg" alt class="img-fluid film-image">
        <span class="film-title">Лего</span>
    </div>
    <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
        <img src="../images/film5.jpg" alt class="img-fluid film-image">
        <span class="film-title">Пірати карибського моря</span>
    </div>
    <div class="p-2 film_card card col-xs-12 col-sm-4 col-md-3">
        <img src="../images/film6.jpg" alt class="img-fluid film-image">
        <span class="film-title">Титанік</span>
    </div>
</div>