<div id="hall">
    <h4 class="film-title">Зал 1</h4>
    <img src="../images/screen.png">
    <div id="places-block" class="container">
        <div class="places-row">
            <span>1</span>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
        </div>

        <div class="places-row">
            <span>2</span>
            <button class="place btn btn-primary" data-place-id="1">1</button>
            <button class="place btn btn-primary" data-place-id="2">2</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
        </div>
    </div>
    <div id="selected-places">
    </div>
    <button id="go-to-buy" class="btn btn-danger align-content-center" disabled>Купити</button>
</div>