<div id="hall">
    <h4 class="film-title">Екран</h4>
    <img src="../images/screen.png">
    <div id="places-block" class="container">
        <div class="places-row">
            <span>1</span>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
            <button class="btn btn-secondary" disabled>1</button>
        </div>

        <div class="places-row">
            <span>2</span>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
            <button class="btn btn-primary">1</button>
        </div>
    </div>
</div>