<div id="bills_block" class="container col-xs-12 col-sm-12 col-md-12">
    <div class="p-2 bill_card card col-xs-12 col-sm-3 col-md-2">
        <img src="../images/film1.jpg" alt class="img-fluid film-image">
        <span class="film-title">Захар Беркут</span>
        <span align="center">3D</span>
        <span><b>Дата видачі:</b> 11.04.2020</span>
        <table>
            <tr>
                <td><b>Дата:</b><br> 22.03.2020</td>
                <td><b>Час:</b><br> 11.30</td>
            </tr>
        </table>
        <br>
        <span><b>Всього:</b> 100 грн</span>
    </div>
</div>