<div id="purchase" class="row">
    <div id="purchase-info" class="p-2 col-xs-12 col-sm-6 col-md-6">

    </div>

    <form class="p-3 col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="card-num">Дані вашої картки</label>
            <input type="text" class="form-control" id="card-num">
        </div>
        <div class="form-group">
            <span><b>Ви можете використати бонуси для оплати повної вртості квитка</b></span>
            <br>
            <input type="checkbox" id="bonuses">
            <label for="bonuses"> використати бонуси </label>
            <br>
            <span id="available-bonus">(Достпно: </span>
        </div>
        <h6 id="sum"><b>Всього до сплати:</b></h6>
        <button type="submit" class="m-3 btn btn-primary" id="buy-tickets">Сплатити</button>
    </form>
</div>