<!-- фільтрація -->
<div id="tickets_block" class="container">
    <div class="ticket_card card col-xs-12 col-sm-4 col-md-3">
        <span class="film-title">Маленькі жінки</span>
        <hr>
        <span align="center">3D</span>
        <table>
            <tr>
                <td><b>Дата:</b><br> 22.03.2020</td>
                <td><b>Час:</b><br> 11.30</td>
            </tr>
        </table>
        <table>
            <tr>
                <td><b>Зал:</b><br> 1</td>
                <td><b>Ряд:</b><br> 3</td>
                <td><b>Місце:</b><br> 33</td>
            </tr>
        </table>
        <span><b>Ціна:</b> 100 грн</span>
        <span><b>Касир:</b> Анна</span>
    </div>
</div>