body {
    background: url('../../images/mountains.jpg');
    background-size: cover;
    background-position-y: 100vh;
}

.log_form{
    margin: 15vh 30vw;
}

.log_form button{
    width: 100%;
}

.log_form label, .log_form a{
    color: black;
}

.log_form a{
    text-decoration: underline;
}