/*кольори*/
$back-color: #d9d9d9;
$title-color: whitesmoke;
$nav-color: #343a40;

/*блок із фільмами*/
#film_block {
  margin: 0;
}

#films {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.film_card {
  cursor: pointer;
  border: none;
  background-color: $back-color;
  width: 250px;
}

#film_main {
  margin: 2%;
}

.film-title {
  color: black;
  text-align: center;
  font-family: Nunito;
  font-weight: bold;
}

.film_card .film-title {
  font-size: 150%;
  margin-top: 2%;
}

#film_main .film-title {
  font-size: 200%;
  margin-top: 3%;
}

.poster-block img, .film_card img {
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

.poster-block {
  padding-top: 4%;
  width: 400px;
}

.poster-block button {
  margin-top: 4%;
  width: 100%;
  padding: 3%;
  font-weight: bold;
}

.film-description {
  padding: 2%;
}

.film-description span {
  margin: 1%;
  font-size: 20px;
  display: block;
}

.description {
  margin-top: 3%;
  font-size: 16px;
  text-align: justify;
}


//фільтрація
#filter-nav {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1%;
  background: $nav-color;
  color: $title-color;
}

#filter-nav input {
  width: 100%;
}

#filter-nav button {
  margin-top: 2%;
  width: 100%;
}

#sessions .film-title {
  margin-bottom: 8%;
}

#sessions {
  padding: 2%;
  border: 1px solid #343a40;
  border-radius: 3px;
  height: 100%;
}

.session-day span {
  font-size: 18px;
  font-weight: bold;
}

.session-day {
  margin: 1%;
}

.session-time button {
  font-size: 20px;
  color: #0000cc;
  font-weight: bold;
}

#hall {
  align-content: center;
  text-align: center;
  margin-top: 3%;
}

#places-block span {
  margin-right: 3%;
  font-weight: bold;
}

.places-row {
  margin: 1%;
}