body {
    margin: 0;
    background-color: 	#0f4c81;
}

#content{
    size: 100vw;
}

/*форма пошуку*/
.search{
    display: inline-block;
    position: relative;
    background: white;
    width: 220px;
    border-radius: 10px;
}

.search input, .search button {
    border: none;
    background: transparent;
}

.search button {
    height: 30px;
    width: 30px;
    position: absolute;
    margin: 0;
    top: 2px;
    right: 1px;
    cursor: pointer;
    background: url('../../images/search.png');
    background-size: 100%;
}